body{ font-family: verdana, sans-serif;}
h1 { text-align:center; position:relative; }

.responsive{display:block;overflow-x:auto;}
table
{
	width:95%;
	text-align:center;
	line-height:300%;
	border-spacing: 0 15px;
/*	border-collapse:separate;
	table-layout:fixed;*/
}
th, td { width:23.75%; }
@media screen and (max-width: 450px)
{
	table { width:160%; overflow-x:auto;	display:block;}
	th, td { width:40%; }
}


