body{ font-family: verdana, sans-serif;	font-size:18px; line-height:120%; }

h1, h2 { text-align:center; }
h3     { margin-left: 20px; }
p,ul   { margin-left:40px;  }
td     { width:45%          }
code   { margin-left:60px;  }

table{	width:90%;	text-align:center;	line-height:300%;	border-collapse:separate;	border-spacing: 0 15px; table-layout:fixed; }
.tb  { border-spacing: 15px 15px; }

.col-0-0 {	background:white;  color:black; border:1px solid black;}
.col-0-1 {	background:black;  color:white;}
.col-1-0 {	background:red;	   color:white;}
.col-1-1 {	background:blue;   color:white;}
.col-2-0 {	background:green;  color:white;}
.col-2-1 {	background:yellow; color:black;}
.col-3-0 {	background:magenta;color:white;}
.col-3-1 {	background:cyan;   color:black;}