body{ font-family: 'Red Hat Display', sans-serif; }

h1, h2 { text-align:center; }
td     { width:45%; border-collapse:separate;      border-spacing: 0 200px;   }

table{
	width:90%;	
	text-align:center;
	line-height:300%;	
	table-layout:fixed; }
.tb  { border-spacing: 15px 15px; }

.col-0-0 {	background:white;  color:black; border:1px solid black;}
.col-0-1 {	background:black;  color:white;}
.col-1-0 {	background:red;	   color:white;}
.col-1-1 {	background:blue;   color:white;}
.col-2-0 {	background:green;  color:white;}
.col-2-1 {	background:yellow; color:black;}
.col-3-0 {	background:magenta;color:white;}
.col-3-1 {	background:cyan;   color:black;}

@media screen and (max-width: 450px)
{
	table { width:100%; }
}