body{ font-family: 'Red Hat Display', sans-serif;	font-size:18px; }
h1,table { text-align:center; }

table{	width:90%; border-collapse:separate; border-spacing: 15px 15px; table-layout:fixed; }
td   {	border: none; border-radius:6px; }

@media screen and (max-width: 450px)  {	table { width:100%; }  }